/*
filename: styles.css
author: Ashlyn Randall
created: 04/09/2025
last modified: 23/09/2025
description: Main shared styling for site pages.

NOTE: For page-specific styling, individual CSS files should be used per-page.
*/

/***********************************************/
/* #region Theming                             */
/***********************************************/

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
	/* Site Theme Colours */
	--col-text-primary: #111;
	--col-text-secondary: #555;
	--col-text-overlay: #ddd;
	--col-text-title: #444;
	--col-text-card: #efefef;
	--col-text-card-title: #fff;
	--col-background-card: #605a9c;
	--col-background-card-translucent: #605a9cf0;
	--col-background-nav: #fafafb;
	--col-element-shadow: rgba(0, 0, 0, 0.25);
}

/***********************************************/
/* #endregion Theming                          */
/***********************************************/

/***********************************************/
/* #region Page Layout                         */
/***********************************************/

body {
	margin: 0;

	display: flex;
	flex-direction: column;
	min-height: 100vh;

	font-family: 'Hanken Grotesk', sans-serif;
	color: var(--col-text-primary);
}

#navigation {
	position: sticky;
	top: 0;
	width: 100%;
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1em;

	z-index: 1;

	box-shadow: 0 0.25vh 2vh var(--col-element-shadow);
	background-color: var(--col-background-nav);
}

#navigation .company-title {
	font-size: larger;
	font-weight: 600;
	color: var(--col-text-title);
}

#navigation .company-title img {
	height: 2em;
	vertical-align: middle;
}

#navigation > nav {
	display: flex;
	flex-direction: row;
	gap: 1em;
}

#navigation a {
	color: var(--col-text-title);
	font-weight: normal;
}

@media screen and (max-width: 600px) {
	/* On small screens, just show the logo, not the name. */
	#navigation .company-title span {
		display: none;
	}
}

#hero-container {
	display: flex;
	align-items: center;
	justify-content: center;

	min-height: 60vh;
	padding: 1em;
	box-sizing: border-box;
	
	background-image: url('/images/backgrounds/pexels-gustavo-fring-6285081.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#hero {
	min-width: 70vw;
	padding: 2em;
	border-radius: 1em;

	background-color: var(--col-background-card-translucent);
	backdrop-filter: blur(4px);
	color: var(--col-text-card);

	animation-name: hero-fade-in;
	animation-play-state: running;
	animation-duration: 0.4s;
}

#hero > img {
	float: left;
	margin-right: 1em;
}

@keyframes hero-fade-in {
	0% {
		opacity: 0.5;
		translate: 0 1vh;
		transform: scale(0.99);
	}
	
	100% {
		opacity: 1;
	}
}

/* Disable our fly-in animation for readers who prefer reduced motion :) */
@media (prefers-reduced-motion: reduce) {
	#hero {
		animation: none;
	}
}

#hero h1 {
	color: var(--col-text-card-title);
}

#hero a, footer a {
	color: var(--col-text-card-title);
}

main {
	padding: 2em 1em;
	box-sizing: border-box;
	flex-grow: 1;
	display: flex;
	justify-content: center;

	box-shadow: 0 -1vh 2vh var(--col-element-shadow);
	
	color: var(--col-text-primary);
	line-height: 1.5;
}

main article {
	width: min(120ch, 70vw);
}

@media screen and (max-width: 600px) {
	/* On small screens, don't have any padding on the main content. */
	main article {
		width: 100%;
	}
}

footer {
	padding: 1em;
	box-sizing: border-box;

	background-color: var(--col-background-card);
	color: var(--col-text-card);
	line-height: 1.5;
}

footer > nav {
	display: flex;
	flex-wrap: wrap;
	column-gap: 2em;
}

footer a {
	font-weight: bold;
	color: var(--col-text-card-title);
}

footer .copyright-notice {
	margin-top: 0.5em;
	font-style: italic;
	font-size: small;
}

/***********************************************/
/* #endregion Page Layout                      */
/***********************************************/

/***********************************************/
/* #region Page Content (text and whatnot)     */
/***********************************************/

table {
	border-collapse: collapse;
	overflow-x: auto;
	display: block;
}

table > caption {
	font-style: italic;
	color: var(--col-text-title);
}

td, th {
	border: 1px solid var(--col-text-secondary);
	padding: 0.5em;
}

@media screen and (max-width: 600px) {
	/* Compact table display on small screens. */
	td, th {
		padding: 0.25em;
	}
}

a {
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

button, .button {
	display: inline-block;
	padding: 0.6em;

	border: none;
	border-radius: 1em;
	background-color: var(--col-background-card);
	
	color: var(--col-text-card);
	font-weight: bold;

	/* Don't inherit the underline behaviour when a hyperlink is a button. */
	text-decoration: none !important;
	
	transition: 0.1s ease;
	transition-property: transform;

	cursor: pointer;
}

button:hover, .button:hover {
	/* Enlarge the button when hovered. */
	transform: scale(1.1);
}

button:active, .button:active {
	/* Make the button click down smaller. */
	transform: scale(0.95);
}

/* Don't smoothly animate buttons for people who prefer less motion. */
@media screen and (prefers-reduced-motion: reduce) {
	button, .button {
		transition: none;
	}
}

/***********************************************/
/* #endregion Page Content (text and whatnot)  */
/***********************************************/
