/*
filename: layout.css
author: Ashlyn Randall
created: 04/09/2025
last modified: 11/09/2025
description: Main shared styling for site pages.

NOTE: For page-specific styling, individual CSS files should be used per-page.
*/

/***********************************************/
/* #region Theming                             */
/***********************************************/

:root {
	/* Site Theme Colours */
	--col-text-primary: #111;
	--col-text-secondary: #555;
	--col-text-title: #444;
	--col-text-card: #ddd;
	--col-text-card-title: #fff;
	--col-background-card: #7069b4;
	--col-background-nav: #fafafb;
	--col-element-shadow: rgba(0, 0, 0, 0.25);
}

/***********************************************/
/* #endregion Theming                          */
/***********************************************/

/***********************************************/
/* #region Page Layout                         */
/***********************************************/

body {
	margin: 0;

	display: flex;
	flex-direction: column;
	min-height: 100vh;

	font-family: sans-serif;
	color: var(--col-text-primary);
}

#navigation {
	position: sticky;
	top: 0;
	width: 100%;
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1em;

	box-shadow: 0 2vh 2vh var(--col-element-shadow);
	background-color: var(--col-background-nav);
}

#navigation .company-title {
	font-size: larger;
	font-weight: 600;
	color: var(--col-text-title);
}

#navigation .company-title img {
	height: 2em;
	vertical-align: middle;
}

#navigation > nav {
	display: flex;
	flex-direction: row;
	gap: 1em;
}

#navigation a {
	text-decoration: none;
	color: var(--col-text-title);
}

#navigation > nav a:hover {
	text-decoration: underline;
	text-shadow: 1px 1px var(--col-text-title);
}

@media screen and (max-width: 600px) {
	/* On small screens, just show the logo, not the name. */
	#navigation .company-title span {
		display: none;
	}
}

#hero-container {
	display: flex;
	align-items: center;
	justify-content: center;

	min-height: 60vh;
	padding: 1em;
	box-sizing: border-box;
	
	background-color: rgb(41, 48, 92);
}

#hero {
	min-width: 70vw;
	padding: 2em;
	border-radius: 1em;

	background-color: var(--col-background-card);
	color: var(--col-text-card);
}

#hero h1 {
	font-weight: lighter;
	color: var(--col-text-card-title);
}

main {
	padding: 1em 10vw;
	box-sizing: border-box;
	flex-grow: 1;

	box-shadow: 0 -2vh 2vh var(--col-element-shadow);
	
	color: var(--col-text-primary);
	line-height: 1.5;
}

footer {
	padding: 1em;
	box-sizing: border-box;

	background-color: var(--col-background-nav);
}

footer > nav {
	line-height: 2;
}

footer > nav a {
	color: var(--col-text-title);
}

footer .copyright-notice {
	color: var(--col-text-title);
	font-style: italic;
}

/***********************************************/
/* #endregion Page Layout                      */
/***********************************************/

/***********************************************/
/* #region Page Content (text and whatnot)     */
/***********************************************/

table {
	border-collapse: collapse;
}

table > caption {
	font-style: italic;
	color: var(--col-text-title);
}

td, th {
	border: 1px solid var(--col-text-secondary);
	padding: 0.5em;
}

/***********************************************/
/* #endregion Page Content (text and whatnot)  */
/***********************************************/
