/*
filename: about.css
author: Ashlyn Randall
created: 23/09/2025
last modified: 23/09/2025
description: Style for the About page (/about.html)
*/

#hero-container {
	background-image: url('/images/backgrounds/pexels-shkrabaanthony-5466233.jpg');
}

main article img {
	width: 100%;
}

#team-list {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
	padding: 0;

	list-style: none;
}

#team-list .student-id {
	float: right;
}

#team-list .student-id::before {
	content: '(ID: ';
}

#team-list .student-id::after {
	content: ')';
}

dl {
	display: grid;
	grid-template-columns: minmax(30%, max-content);
	column-gap: 1em;
	line-height: 2;
}

dt::after {
	content: ':';
}

dd {
	margin: 0;
	grid-column-start: 2;
}
