/*
filename: apply.css
author: Ashlyn Randall
created: 22/09/2025
last modified: 24/09/2025
description: Style for the Job Application page (/apply.html)
*/

/***********************************************/
/* #region General form appearance             */
/***********************************************/

form {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
}

/* Buttons for submitting or resetting the form, side-by-side. */
form .action-buttons {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid var(--col-text-overlay);
}

form .action-buttons button {
	flex-basis: initial;
	flex-grow: 0;
}

form .action-buttons button[type="submit"] {
	background-color: var(--col-background-card);
	color: var(--col-text-card);
}

form .action-buttons button[type="reset"] {
	background-color: var(--col-attention);
	color: var(--col-text-card);
}

/***********************************************/
/* #endregion General form appearance          */
/***********************************************/

/***********************************************/
/* #region Item and label appearance           */
/***********************************************/

/* Consistent border style for all form elements. */
input, select, textarea, fieldset {
	border: 2px solid var(--col-text-overlay);
	border-radius: 0.25em;
}

fieldset {
	/* Override the user agent's inset. */
	margin: 0;
	margin-bottom: 0.5em;
}

textarea {
	font-family: inherit;
}

/* Each <p> tag in the form is a given item the user needs to fill out. */
form p {
	display: flex;
	justify-content: space-between;
	margin: 0;
	
	line-height: 2;
}

form p > label, form legend {
	color: var(--col-text-secondary);
}

form p > label {
	/* Align all the label columns, makes it a bit less visually noisy. */
	flex-basis: 40%;
}

form p > :not(label) {
	flex-grow: 1;
}

/* Show a red asterisks next to required fields - this is the conventional method for most sites. */
form > p:has(input[required]) > label::after,
form > fieldset:has(input[required]) > legend::after {
	content: '*';
	color: var(--col-attention);
	font-weight: bold;
}

/* A list of checkboxes where the user can pick multiple, each checkbox on a separate line. */
form .checkbox-list.multiline {
	display: flex;
	flex-direction: column;
}

/***********************************************/
/* #endregion Item and label appearance        */
/***********************************************/

/***********************************************/
/* #region Per-item customisation              */
/***********************************************/

/* Give the "other skills" textbox more room. */
form p:has(> #otherSkills) {
	flex-direction: column;
}

#other-hint {
	line-height: 1.5;
	margin-top: 0.5em;
}

/***********************************************/
/* #endregion Per-item customisation           */
/***********************************************/
