/*
filename: jobs.css
author: Ashlyn Randall
created: 23/09/2025
last modified: 23/09/2025
description: Style for the Jobs page (/jobs.html)
*/

#hero-container {
	background-image: url('/images/backgrounds/pexels-fauxels-3184416.jpg');
}

/*
Additional details for a job listing that are tangentially related.
*/
aside {
	/* Requirements specify a 25% width, right-floated aside with margin, border and padding. */
	width: 25%;
	float: right;
	margin-left: 1em;
	padding: 0.5em 1em;

	border: 1px solid var(--col-text-secondary);
	border-radius: 1em;
}
