<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="[[Page author here]]">
	<meta name="description" content="[[Page description here]]">
	<meta name="tags" content="[[Page tag list here]]">
	<title>[[Page title here]]</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<!-- Navigation bar, standard on all pages. -->
	<header id="navigation">
		<h2>
			<a href="/index.html">Company Name</a>
		</h2>

		<nav>
			<a href="/index.html">Home</a>
			<a href="/about.html">About</a>
			<a href="/jobs.html">Jobs</a>
		</nav>
	</header>

	<!--
		Optional full-screen content for the most important page content, if applicable.
		
		Page-specific styling may override the `background-image` of this element to a relevant
		image.
	-->
	<header id="hero-container">
		<div id="hero">
			<h1>Page Title Here</h1>
			<p>
				Some information about this page and why a reader should care about it.
			</p>
		</div>
	</header>

	<!-- Main content of the page. -->
	<main>
		<h2>Some page content</h2>
		<p>
			Information about that.
		</p>

		<h2>Other content</h2>
		<p>
			Further information here.
		</p>
	</main>

	<!-- Footer with additional site information and contact, standard on all pages. -->
	<footer>
		<nav>
			<a href="https://github.com/JunoPittardSwin/Applied-Web-Project" target="_blank">GitHub Repository</a>
			<a href="https://junopittardswin.atlassian.net/jira/software/projects/SCRUM/summary" target="_blank">Jira Project</a>
			<a href="mailto:info@watertightcybersec.com">contact us</a>
		</nav>
		<div class="copyright-notice">
			&nbsp; &copy; Watertight CyberSec 2025
		</div>
	</footer>
</body>
</html>
